<% if @restaurants.any? %>
    <% @restaurants.each do |restaurant| %>
        <h2> <%= link_to restaurant.name, restaurant_path(restaurant) %> </h2>
        <%= link_to 'Review ' + restaurant.name, new_restaurant_review_path(restaurant) %><br>
    <% restaurant.reviews.each do |review| %>
    	<%= review.thoughts %><br>
    	<%= link_to 'Endorse', review_endorsements_path(review), method: :post %>
    	<%= review.endorsements.count %> endorsements
    	<% end %>
    <% end %>
<% else %>
    No restaurants yet
<% end %>
<%= link_to 'Add a restaurant', new_restaurant_path %>