<strong><%= @restaurant.name %></strong>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Delete', restaurant_path(@restaurant), method: :delete %>

<br>
<%= @restaurant.description %>

	<strong>Cuisine:</strong>
	<%= @restaurant.description %>
<% if @restaurant.reviews %>
<section class='reviews'>
<h2>Reviews:</h2>
<% @restaurant.reviews.each do |review| %>
<br>
<li>
		<strong>Rating:</strong>
		<%= star_rating(review.rating) %><br>
		<strong>Comment:</strong>
		<%= review.thoughts %><br>
</li>
<br>
	<% end %>
</section>
<% end %>
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>